
.btn__home--gradient {
    padding:15px 15px 15px 15px;
    margin: 0px 55px 0px 55px;
    border-radius: 2em;
    border: 0;
    background-image:linear-gradient(to bottom right, $color-secondary,$color-primary);
    box-shadow: 5px 5px 20px -10px rgba(73, 72, 72,);
    color:$white;	
}		

.btn__order--gradient {  
        padding: 17px 50px;
        margin: 15px 55px 60px 55px;
        border-radius: 2em;
        border: 0;
        background-image:linear-gradient(to bottom right, $color-secondary,$color-primary);
        box-shadow: 5px 5px 20px -10px rgba(73, 72, 72,);
        color:$white;	
}