/*Color*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #FF79DA;
$background-color-light-grey: #eaeaea;
$dark: #000000;
$dark-grey:#494848;
$light-grey:#f6f6f6;
$white: #FFFFFF;
$color-newbtn: #99e2d0;
$color-newbtn-text: darken($color-newbtn, 50%);
$img-border-radius: 20px 20px 0 0;

