@import './base/reset';
@import './utils/variables';
@import './base/typography';
@import './utils/mixins';


body h1 {
	font-size: 27px;
}

.bloc-page {	
	display: grid;
	grid-template-columns: 375px;
	grid-template-rows: auto;
	text-align: center;
	align-items: center;
	background-color:#eaeaea;
	
	
}
/*HEADER*/

.header {
	
	&__logo {
		width: 100%;
		padding: 20px 10px 10px 10px;
		background-color: $white;
		box-shadow: 0 0 20px -10px  $dark;		
	}
	&__location {
		@include flex (flex, row, center, 20px);
		align-items: center;
		text-align: center;	
		background-color:#eaeaea;	
		&--icon{	
			margin-right:1em;
			color: $dark-grey;
		}
		&--text{
			color:$dark-grey;
			font-weight: bolder;
		}		
	}
	&__calltoaction1{
		padding:20px;
		background-color:$light-grey;
		&>p, h1 {
			margin-bottom:20px;
		}
		&>button {
			padding:15px 15px 15px 15px;
			margin: 0px 55px 0px 55px;
			border-radius: 2em;
			border: 0;
			background-image:linear-gradient(to bottom right, $color-secondary,$color-primary);
			box-shadow: 5px 5px 20px -15px;
			color:$white;

			
		}
		
	}
	
}
/*FONCTIONNEMENT*/

.fonction {
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: $white;
	&__container {
		display:grid;
		grid-template-columns: 20% 20% auto;
		justify-items: center;		
		text-align: center;
		margin: 20px 0 20px 10px;
		padding: 20px 0 20px 0;
		background-color: $light-grey;
		border-radius:25px;
		filter: drop-shadow(4px 9px 11px $dark-grey);
		&--title {
			margin: 20px 50px 20px -80px;			
		}
		&--number {
			margin-right: 70px;
			padding: 10px;
			border-radius: 50%;
			background-color: $color-primary;
			color:$white;
		}
		&--icon {
			padding-top: 10px;
			margin-right: 20px;
			margin-left: -90px;
			color: $dark-grey;
			font-size: 20px;
			&> i.active {
				color: $color-primary;
			}
		}	
		&--text {
			padding-top: 13px;
			margin-left:-140px;
			color: $dark;
			font-weight: bold;
			}		
		}
	&>.active {
			background-color: lighten($color-primary, 30%);
		}		
}
.restaurant {
	&__container {
		&--img img{
			width: 100%;
			height: auto;
		}
		
	}
}