@import './base/reset';
@import './utils/variables';
@import './base/typography';
@import './utils/mixins';


body h1 {
	font-size: 27px;
}

.bloc-page {	
	display: grid;
	grid-template-columns: 375px;
	grid-template-rows: auto;
	text-align: center;
	align-items: center;
	background-color:#eaeaea;
	
	
}
/*HEADER*/

.header {
	
	&__logo {
		width: 100%;
		padding: 20px 10px 10px 10px;
		background-color: $white;
		box-shadow: 0 0 20px -10px  $dark;		
	}
	&__location {
		@include flex (flex, row, center, 20px);
		align-items: center;
		text-align: center;	
		background-color:#eaeaea;	
		&--icon{	
			margin-right:1em;
			color: $dark-grey;
		}
		&--text{
			color:$dark-grey;
			font-weight: bolder;
		}		
	}
	&__calltoaction1{
		padding:20px;
		background-color:#f6f6f6;
		&>p, h1 {
			margin-bottom:20px;
		}
		&>button {
			padding:15px 15px 15px 15px;
			margin: 0px 55px 0px 55px;
			border-radius: 2em;
			border: 0;
			background-image:linear-gradient(to bottom right, $color-secondary,$color-primary);
			box-shadow: 5px 5px 20px -15px;
			color:white;

			
		}
		
	}
	
}
/*FONCTIONNEMENT*/

.fonction {
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: white;
	&--title {
		margin: 20px 50px 20px -80px;
	}
	&__container {
		@include flex(flex, row, space-between, 20px);
		display: flex;
		&--text {
			color:$color-secondary;
		}
		}
}
.restaurant {
	&__container {
		&--img img{
			width: 100%;
			height: auto;
		}
		
	}
}