@import './base/reset';
@import './utils/variables';
@import './base/typography';

body {
	
	display: grid;
	grid-template-columns: 375px;
	grid-template-rows: auto;
	text-align: center;
	background-color:#eaeaea;

}
.header {
	
	&__logo {
		width: 100%;
		padding:10px 10px 10px 10px;
		background-color: $white;
		box-shadow: 0 0 20px -10px  $dark;		
	}
	&__location {
		display: flex;
		justify-content: center;
		margin:20px;
		background-color:#eaeaea;
		align-items: center;
		text-align: center;		
		&--icon{	
			margin-right:1em;
			color: $dark-grey;
		}
		&--text{
			color:$dark-grey;
			font-weight: bolder;
		}
	}
	

}