/*FONCTIONNEMENT*/

.fonction {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: $white;
  &__container {
    display: grid;
    grid-template-columns: 20% 20% auto;
    justify-items: center;
    text-align: center;
    margin: 20px 0 20px 10px;
    padding: 20px 0 20px 0;
    background-color: $light-grey;
    border-radius: 25px;
    filter: drop-shadow(4px 9px 11px rgba(73, 72, 72, 0.3));

    &--number {
      margin: 10px 70px 10px 5px;
      padding: 6px 10px 5px 10px;
      border-radius: 50%;
      background-color: $color-primary;
      color: $white !important;
    }
    &--icon {
      padding: 10px 0 0 0;
      margin: 0 20px 0 -90px;
      color: $dark-grey;
      font-size: 20px;
      & > i.active {
        color: $color-primary;
      }
      @include responsive(iphone5) {
        margin: 0 5px 0 -90px;
      }
    }
    &--text {
      padding: 13px 0 0 0;
      margin: 0 0 0 -140px;
      color: $dark;
      font-weight: bold;
      @include responsive(iphone5) {
        margin: 0 0 0 -90px;
      }
    }
  }
  /*& > .active {
    background-color: lighten($color-primary, 30%);
  }*/
  &> .fonction__container:hover {
	
		
		background-color:lighten($color-primary, 30%);
	
  }
}

/*RESTAURANTS*/

.restaurant {
  & > h2 {
    margin: 30px 100px 20px -80px;
    @include responsive(iphone5) {
      margin: 30px 100px 20px -50px;
    }
  }
  & a {
    color: black;
  }
  &__container {
    padding: 20px;
    cursor: pointer;
    &--img {
      display: flex;

      img {
        position: relative;
        @include img-size;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
      }
    }
    &--btnnew {
      position: absolute;
      margin: 10px 0 0 -90px;
      padding: 5px 10px 5px 10px;
      background-color: $color-newbtn;
      color: $color-newbtn-text;
      border: 0;
      font-weight: bold;
      align-self: end;
    }
    &--text {
      display: grid;
      grid-template-columns: 1fr 20%;
      grid-template-rows: 2fr 1fr;
      text-align: left;
      background-color: $white;
      border-radius: 0 0 20px 20px;
      padding: 20px 10px 20px 10px;
      color: $dark;
    }
    &--name {
      font-size: 13px;
    }
    &--hearticon {
      & > .far,
      .fas {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 75px;
        font-size: 25px;
        background: lighten($dark-grey, 35%);
        z-index: 1;
        position: relative;
      }
      & > .fas::before {
        content: "\f004";
        position: absolute;
        top: 0px;
        left: 100px;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        z-index: 1;
        opacity: 0;
      }
      & > .far::before {
        content: "\f004";
        position: absolute;
        top: 0px;
        left: 100px;
        width: 100%;
        height: 100%;
        color: $dark-grey;
      }
      & > .fas:hover::before {
        top: 0;
        opacity: 1;
        color: purple;
      }
    }
  }
}

.button {
  background-color: red;
}
